<div class="card-body container">
  <div class="row">
    <div class="col-sm-4">
      <h5 class="card-title">Ad Request #{{ ad_request.id }}</h5>
      <p class="card-text">
        <strong>Messages:</strong> {{ ad_request.messages }}
      </p>
      <p class="card-text">
        <strong>Requirements:</strong> {{ ad_request.requirements }}
      </p>
      <p class="card-text">
        <strong>Payment Amount:</strong> ${{ ad_request.payment_amount }}
      </p>
    </div>
    <div class="col-sm-4">
      <h5 class="card-title">Campaign #{{ ad_request.campaign.id }}</h5>
      <div
        class="{{'badge text-wrap bg-info' if ad_request.campaign.visibility.value=='Private' else 'badge text-wrap bg-warning'}}"
        style="width: 6rem"
      >
        {{ad_request.campaign.visibility.value}}
      </div>
      <p class="card-text">
        <strong>{{ad_request.campaign.name}}</strong>
      </p>
      <p class="card-text">
        <strong>Description:</strong> {{ ad_request.campaign.description }}
      </p>
      <p class="card-text">
        <strong>Goals:</strong> {{ ad_request.campaign.goals }}
      </p>
    </div>
    <div
      class="col-sm-4 d-flex justify-content-center align-items-center flex-column"
    >
      <h2>${{ad_request.payment_amount}}</h2>
      <h6><strong>End Date:</strong> {{ad_request.campaign.end_date}}</h6>
      <div class="d-flex justify-content-between align-items-center mt-3">
        {% if ad_request.campaign.visibility.value == 'Private' %} {% if
        show_negotiate %}
        <a
          href="#"
          class="btn btn-warning btn-custom"
          onclick="openEditAdRequestModal({{ ad_request.id }}, '{{ ad_request.status.value }}')"
          >Negotiate Price</a
        >
        {% endif %} {% endif %} {% if show_accept_button %}
        <form
          action="{{ url_for('acceptAdRequest', adRequestId=ad_request.id) }}"
          method="post"
          style="display: inline"
        >
          <button
            type="submit"
            class="btn btn-success btn-custom"
            onclick="return confirm('Accept ad request for ${{ad_request.payment_amount}}?')"
          >
            Accept
          </button>
        </form>
        {% endif %} {% if ad_request.status.value=='Accepted'%}
        <form
          action="{{ url_for('completeAdRequest', adRequestId=ad_request.id) }}"
          method="post"
          style="display: inline"
        >
          <button type="submit" class="btn btn-success btn-custom">
            Marks as Completed
          </button>
        </form>
        {% endif %} {% if show_reject_button %}
        <form
          action="{{ url_for('rejectAdRequest', adRequestId=ad_request.id) }}"
          method="post"
          onsubmit="return confirm('Reject ad request of amount ${{ ad_request.payment_amount }}?');"
        >
          <button type="submit" class="btn btn-danger btn-custom">
            Reject
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
